@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	scrollbar-color: lightgrey white;
	scrollbar-width: thin;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
}

html {
	@apply bg-primary-900 text-primary-200;
}

body {
	font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: lightgrey;
	border-radius: 20px;
}

@layer utilities {
	.rotate-x-180 {
		/* NOTE: breaks tailwind's transform utility */
		transform: rotateX(180deg);
	}

	.no-tap-highlight {
		-webkit-tap-highlight-color: transparent;
	}
}

@keyframes shake {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(-3px);
	}
	40% {
		transform: translateX(3px);
	}
	60% {
		transform: translateX(-3px);
	}
	80% {
		transform: translateX(3px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
}
